@media screen and (max-width: 320px) {
    
    .first_section{
        background-color: #ff896f;
        height: 700px;
        border-bottom-left-radius: 0px;
        display: flex;
        justify-content: center;
        background-size: 2000px;
        background-image: none;
        background-position: -50px -790px;
        background-image: url(/images/bg-pattern-intro-desktop.png);
    }
    .btn button{
        padding: 8px 15px;
    }
    .btn2 button{
        padding: 8px 15px;
    }
    .logo{
        width: 50px;
        margin-right: 30px;
    }
    .logo img{
        width: 100%;
    }
    .left_ban{
        margin: 0;
        width: 80%;
        text-align: center;
    }
    .left_ban p{
        width: 100%;
    }
    .left_nav{
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .menu{
        display: none;
    }
    .right_ban{
        display: none;
    }
    .ban3_left{
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
    }
    .ban3_right {
        margin: 0;
        text-align: center;
    }
    .ban3_right p{
        margin: 0;
        width: 100%;
    }
    .second_ban{
        flex-direction: column;
    }
    .third_sect{
        flex-direction: column;
    }
    .third_section{
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .fourth_sect{
        flex-direction: column;
    }
    .fourth_section{
        width: 280px;
    }
    .left4_ban{
        margin: 0;
        width: 300px;
    }
    .right4_ban{
        margin: 0;
        width: 280px;
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin: 0;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }
    .feet{
        height: auto;
    }
}
@media screen and (max-width: 425px) {
    .first_section{
        background-color: #ff896f;
        height: 700px;
        border-bottom-left-radius: 0px;
        display: flex;
        justify-content: center;
        background-size: 2000px;
        background-image: none;
        background-position: -50px -790px;
        background-image: url(/images/bg-pattern-intro-desktop.png);
    }
    .btn button{
        padding: 8px 15px;
    }
    .btn2 button{
        padding: 8px 15px;
    }
    .logo{
        width: 50px;
        margin-right: 30px;
    }
    .logo img{
        width: 100%;
    }
    .left_ban{
        margin: 0;
        width: 80%;
        text-align: center;
    }
    .left_ban p{
        width: 100%;
    }
    .left_nav{
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .menu{
        display: none;
    }
    .right_ban{
        display: none;
    }
    .ban3_left{
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
    }
    .ban3_right {
        margin: 0;
        text-align: center;
    }
    .ban3_right p{
        margin: 0;
        width: 100%;
    }
    .second_ban{
        flex-direction: column;
    }
    .third_sect{
        flex-direction: column;
    }
    .third_section{
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .fourth_sect{
        flex-direction: column;
    }
    .fourth_section{
        width: 280px;
        margin-top: 50px;
    }
    .left4_ban{
        margin: 0;
        width: 300px;
    }
    .right4_ban{
        margin: 0;
        width: 280px;
        text-align: center;
    }
    .list{
        flex-direction: column;
        margin: 0;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }
    .feet{
        height: auto;
    }
}


@media screen and (max-width: 768px) and (min-width: 426px) {
    .first_section{
        background-color: #ff896f;
        height: 700px;
        border-bottom-left-radius: 0px;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-image: none;
        background-position: -50px -790px;
    }
    .btn button{
        padding: 8px 15px;
    }
    .btn2 button{
        padding: 8px 15px;
    }
    .logo{
        width: 50px;
        margin-right: 30px;
    }
    .logo img{
        width: 100%;
    }
    .left_ban{
        margin: 0;
        width: 80%;
        text-align: center;
    }
    .left_ban p{
        width: 100%;
    }
    .left_nav{
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .menu{
        display: flex;
        margin-right: 40px;
    }
    .first_banner h1{
        font-weight: 500;
        margin: 0;
        font-size: 50px;
        text-align: center;
        margin: 0px 30px;
    }
    .right_ban{
        display: none;
    }
    .ban3_left{
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
    }
    .ban3_right {
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
        width: 70%;
        height: 300px;
    }
    .ban3_right p{
        margin: 0;
        width: 100%;
        margin-left: 30px;
    }
    .second_ban{
        flex-direction: column;
    }
    .third_sect{
        flex-direction: column;
    }
    .third_section{
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .fourth_sect{
        flex-direction: column;
    }
    .fourth_section{
        width: 280px;
        margin-top: 50px;
    }
    .left4_ban{
        margin: 0;
        width: 300px;
    }
    .right4_ban{
        margin: 0;
        width: 280px;
        text-align: center;
    }
    .list{
        flex-direction: row;
        margin: 0;
        gap: 10%;
    }
    .foot{
        flex-direction: column;
        justify-content: center;
    }
    .lists ul{
        margin: 0;
        padding: 0;
    }
    .feet{
        height: auto;
        display: flex;
        justify-content: center;
    }
    .feet h1{
        margin-left: 0;
    }
    .lists{
        margin-right: 100px;
    }
     
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .first_section{
        background-color: #ff896f;
        height: 700px;
        border-bottom-left-radius: 0px;
        display: flex;
        justify-content: center;
        background-size: 2000px;
        background-image: none;
        background-position: -50px -790px;
        background-image: url(/images/bg-pattern-intro-desktop.png);
    }
    .btn button{
        padding: 8px 15px;
    }
    .btn2 button{
        padding: 8px 15px;
    }
    .logo{
        width: 50px;
        margin-right: 30px;
    }
    .logo img{
        width: 100%;
    }
    .left_ban{
        margin: 0;
        width: 80%;
        text-align: center;
    }
    .left_ban p{
        width: 100%;
    }
    .left_nav{
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .menu{
        display: flex;
        margin-right: 40px;
    }
    .first_banner h1{
        font-weight: 500;
        margin: 0;
        font-size: 50px;
        text-align: center;
        margin: 0px 30px;
    }
    .right_ban{
        display: none;
    }
    .ban3_left{
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
    }
    .ban3_right {
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
        width: 70%;
        height: 300px;
    }
    .ban3_right p{
        margin: 0;
        width: 100%;
        margin-left: 30px;
    }
    .second_ban{
        flex-direction: column;
    }
    .third_sect{
        flex-direction: column;
    }
    .third_section{
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .fourth_sect{
        flex-direction: column;
    }
    .fourth_section{
        width: 280px;
        margin-top: 50px;
    }
    .left4_ban{
        margin: 0;
        width: 300px;
    }
    .right4_ban{
        margin: 0;
        width: 280px;
        text-align: center;
    }
    .list{
        flex-direction: row;
        margin: 0;
        gap: 10%;
    }
    .foot{
        flex-direction: column;
        justify-content: center;
    }
    .lists ul{
        margin: 0;
        padding: 0;
    }
    .feet{
        height: auto;
        display: flex;
        justify-content: center;
    }
    .feet h1{
        margin-left: 0;
    }
    .lists{
        margin-right: 100px;
    }
     
}